<h1>Welcome to my First Quote App!</h1>
<h2 class="w3-large">This is the home page. Feel free to look around the website, and go to /help/ if you have questions!</h2>
<br>
<div class="w3-panel w3-card-4 w3-light-grey" style="width:50%">
    <p class=" w3-large w3-serif">
    <i class="w3-serif w3-xxlarge" style="line-height:1.0em">Never attribute to malice that which is adequately explained by stupidity.</i></p>
    <p style="text-shadow:1px 1px 0 #444" class='w3-xlarge'>Hanlon's Razor</p>
</div>
<div class="w3-panel w3-card-4 w3-light-grey" style="width:50%">
    <p class=" w3-large w3-serif">
    <i class="w3-serif w3-xxlarge" style="line-height:1.0em">Any sufficiently advanced stupidity is indistinguishable from malice.</i></p>
    <p style="text-shadow:1px 1px 0 #444" class='w3-xlarge'>Hanlon's Razor Corollary</p>
</div>