<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Quotes Page</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-container w3-white">
    <div class="w3-bar w3-blue">
      <a class="w3-bar-item w3-button w3-mobile" href="/quotes#index">Super Quotes</a>
    </div>
    <div class="w3-bar w3-blue">
        <a href="/static_pages/home" class="w3-bar-item w3-button w3-mobile">Home</a>
        <a href="/static_pages/help" class="w3-bar-item w3-button w3-mobile">Help</a>
        <a href="/static_pages/about" class="w3-bar-item w3-button w3-mobile">About</a>
    </div>
    <%= yield %>
  </body>
</html>